body {
  margin: 0;
  background-color: #5c3b64;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #020202;
}

.calculator-container {
  width: 350px;
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calculator {
  background-color: #6c084e;
  padding: 20px;
  border-radius: 10px;
}

.display {
  background-color: #23062e;
  padding: 20px;
  text-align: right;
  font-size: 32px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #eae3dc;
  color: #000000;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

.del {
  background-color: #360633;
  color: #fff;
}

.reset {
  grid-column: span 2;
  background-color: #360633;
  color: #fff;
}

.equal {
  grid-column: span 2;
  background-color: #d13089;
  color: #fff;
}
